input(type='search', id='search-box', placeholder='Search human genes', style="width: 300px; margin-bottom: 10px;" value = query)
button(id='search-button')='Search'
="  "
// Add radio buttons to control search mode
input(type='radio', id='symbol-search-radio', style='margin-left: 15px;', name='search-mode', value='symbol', checked = searchMode === 'symbol' || !searchMode)
label.radio-label(for='symbol-search-radio')='Symbols'
input(type='radio', id='synonym-search-radio', name='search-mode', value='synonym', checked = searchMode === 'synonym')
label.radio-label(for='synonym-search-radio')='Synonyms'
input(type='radio', id='free-search-radio', name='search-mode', value='free-text', checked = searchMode === 'free-text')
label.radio-label(for='free-search-radio')='Free text search'
.float-right
  label.small-label(for='tax-id-input')='Taxonomy ID:'
  input#tax-id-input(type='text', name='taxId', list="taxonomy-candidates" placeholder='Taxonomy id' value=taxId || 9606)
  - let currentTaxonomy = taxonomyCandidates.filter(taxonomy => taxonomy.id == taxId)[0]
  if currentTaxonomy
    br
    div(style="font-weight: bold;")
      =`${currentTaxonomy.scientific_name} (${currentTaxonomy.common_name})`
  datalist#taxonomy-candidates
    each taxonomy in taxonomyCandidates
      option(value=taxonomy.id)=`${taxonomy.id} ${taxonomy.scientific_name} (${taxonomy.common_name})`

script.
  window.onload = () => {
    let oldQuery = "!{query}";
    document.getElementById('search-box').addEventListener('keydown', (e) => {
      if(e.keyCode === 13) search()
    });
    document.getElementById('search-button').addEventListener('click', (e) => {
      search()
    });
    document.getElementById('tax-id-input').addEventListener('change', (e) => {
      if(document.querySelector('input[name="taxId"]')?.value)
        search(true)
    });

    function search(force=false) {
      let query = document.getElementById('search-box').value
      let searchMode = document.querySelector('input[name="search-mode"]:checked')?.value
      let taxId = document.querySelector('input[name="taxId"]')?.value
      if(!searchMode) {
        searchMode = 'free-text'
      }
      if(!force && (oldQuery === query && (searchMode === "!{searchMode}" || !query))) {
        return
      }
      let url = new URL(window.location.href)
      url.pathname = "!{pathFromRoot('/genes')}";
      url.searchParams.set('query', query);
      url.searchParams.set('searchMode', searchMode);
      url.searchParams.set('taxId', taxId);
      url.searchParams.set('page', 1);
      window.location.href = url;
    }

    // Execute searching when radio buttons are clicked
    document.querySelectorAll('input[name="search-mode"]').forEach(radio => radio.addEventListener('click', (e) => {
      search()
    }));


    document.addEventListener('keydown', e => {
      if(e.key === '/') {
        if(document.activeElement.id !== 'search-box') {
          e.preventDefault();
          document.getElementById('search-box').focus();
        }
      }
    });
  }
