extends ../layout


block content
  //  case insensitive version of string.includesCI
  - String.prototype.includesCI = function (str) { return this.toLowerCase().indexOf(str.toLowerCase()) !== -1; }
  div.container
    div.sticky-header
      h2.header=`Human genes`
    a(href=pathFromRoot('/genes')) Human genes
    ='  '
    span(style='margin-left: 15px;')
      include includes/search-area.pug

    if pagination.totalPages > 1
      div.text-center
        ul.pagination
          - let page = pagination.page
          if page > 1
            li
              a.pagination-link(href='#', data-page=page - 1) <
          else
            li(class='disabled')
              a(href='#') <
          - const pageRange = 5;
          if page > pageRange
            li
              a.pagination-link(href='#', data-page=1) 1
            li.disabled
              a(href='#') ...
          - let i = Math.max(0, page - pageRange)
          - let limit = Math.min(pagination.totalPages, page + pageRange - 1)
          while i < limit
            - let j = i + 1
            if j === page
              li.active
                a=j
            else
              li
                a.pagination-link(href='#', data-page=j)=j
            - ++i
          if page < pagination.totalPages - pageRange
            li.disabled
              a(href='#') ...
            li
              a.pagination-link(href='#', data-page=pagination.totalPages)=pagination.totalPages
          if page < pagination.totalPages
            li
              a.pagination-link(href='#', data-page=page + 1) >
          else
            li.disabled
              a(href='#') >


    if geneInfoList.length === 0
      h3='No gene found'
    else
      table(border=1)
        thead(align='left')
          tr
            th='GeneID'
            th="Type of gene"
            th="Symbol"
            th="Synonyms"
            th="Description"
            th="Other designations"
            th="Location"
            th="Feature"
            th="Link"
            th="Modification date"
        tbody
          each geneInfo in geneInfoList
            tr
              td
                a(href=pathFromRoot(`/genes/${geneInfo.id}`))
                  if searchMode === 'free-text' && query && geneInfo.id.toString().includesCI(query)
                    span.text-bold=geneInfo.id
                  else
                    =geneInfo.id
              td=geneInfo.type_of_gene
              td
                - let symbol = geneInfo.symbol
                if searchMode !== 'synonym' && query && symbol && symbol.includesCI(query)
                  span.text-bold=symbol
                else
                  =symbol
              td
                if geneInfo.synonyms
                  each synonym in geneInfo.synonyms.split('|')
                    if searchMode !== 'symbol' && query && synonym.includesCI(query)
                      span.text-bold=synonym
                    else
                      =synonym
                    br
              td=geneInfo.description
              td
                if geneInfo.other_designations
                  each line in geneInfo.other_designations.split('|')
                    if searchMode === 'free-text' && query && line.includesCI(query)
                      span.text-bold=line
                    else
                      =line
                    br
              td
                if searchMode === 'free-text' && query && geneInfo.map_location.includesCI(query)
                  span.text-bold=geneInfo.map_location
                else
                  =geneInfo.map_location
              td
                if geneInfo.feature_type
                  each line in geneInfo.feature_type.split('|')
                    if searchMode === 'free-text' && query && line.includesCI(query)
                      span.text-bold=line
                    else
                      =line
              td
                a(href=`https://www.ncbi.nlm.nih.gov/gene/${geneInfo.id}` target='_blank' rel='noopener noreferrer')
                  ='NCBI'
              td
                if searchMode === 'free-text' && query && geneInfo.modification_date.includesCI(query)
                  span.text-bold=geneInfo.modification_date
                else
                  =geneInfo.modification_date

block script
  script.


    document.querySelectorAll('.pagination-link').forEach(link => link.addEventListener('click', onPaginationLinkClick));

    function onPaginationLinkClick(e) {
      let link = e.target;
      let pageNum = link.dataset.page;
      let url = new URL(window.location.href)
      url.searchParams.set('page', pageNum);
      window.location.href = url;
    }